*{ 
  Box-sizing: Border-box 
}

#content{
  background-color: rgba(199, 199, 199, 0.384);
  width: 50%;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  padding: 20px;
}

#header{
  background-color: rgba(128, 128, 128, 0.384);
  border-style: solid;
  border-width: 2px;
}

#options{
  background-color: rgba(128, 128, 128, 0.384);
  border-style: solid;
  border-width: 2px;
}

#bookmarks{
  background-color: rgba(128, 128, 128, 0.384);
  border-style: solid;
  border-width: 2px;
}

#bookmarks-list{
  list-style: none;
  text-align: center;
  background-color: #8f8f8f;
  width: 100%;
  line-height: 20px;
  
}

.list-item{
  border-style: solid;
  border-width: 1px;
  background-color: rgb(66, 229, 51);
  
}

.list-item:hover{
  text-decoration: none;
  color: #000000;
  background-color: #33B5E5;
}

/* .list-item-bar{
  border-style: solid;
  border-width: 2px;
} */

.list-item-expanded{
  display: none;
}


#float-box{
  display: none;
  background-color: rgba(64, 133, 73, 0.384);
  border-style: solid;
  border-width: 2px;
  width: 90%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  
}

#add-content{
  background-color: rgb(199, 199, 199);
  width: 50%;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  padding: 20px;
}